@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
    background-color: #000000;
    color: #FFFFFF;
}

.btnsFilter{
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    /* or 147% */
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    &:hover {
        background: rgba(107, 99, 181);
        border-radius: 4px;
        border-color:  #6B63B5;;
      }
    &:active {
        background: #6B63B5;
        border-radius: 4px;
        border-color:  #6B63B5;
    }
}


.btnsFooter{
    background: #6B63B5;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    /* or 147% */
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    display: inline-flex;
    justify-content: baseline;
    flex-direction: row;
    align-items: flex-end;
}

