body{
   
    color: #FFFFFF;
    
}



.cardsContainer{
   
    background: #FFFFFF;
    border-radius: 16px;
    width: 565px;
    height: 285px;
    display: inline-flex;
    justify-content: center;
    align-items: center ;
    flex-flow: row-wrap;
    margin-left: 100px;
    margin-right: 25px;
    
    margin-bottom: 40px;
    
    & .information, .headCard{
        display: flex;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 120px;
        width: 181px;
        color: #374A59;
        font-size: 12;
        text-align: center;
        line-height: 2px;
        margin-top: 2px;
    }

}

.pictures{
    width: 350px;
    height: 285px;
    
   
}
 

.charImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center ;
    
}

.headCard{
    display: inline;
    justify-content: center;
    align-items: center;
    justify-content: space-center;
    flex-direction: row;
    margin-right: 10px;
    
}



.imgSlytherin{
    background: $slytherin;
  }
.imgGryffindor{
    background: $gryffindor;
  }
.imgRavenclaw{
    background: $ravenclaw;
  }
.imgHufflepuff{
    background: $hufflepuff;
  }





